<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <AuthorizeView>
                        <Authorized Context="authState">
                            <RedirectToAccessDenied />
                        </Authorized>
                        <NotAuthorized Context="authState">
                            <RedirectToLogin />
                        </NotAuthorized>
                    </AuthorizeView>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="typeof(Layout.MainLayout)">
                <div class="alert alert-warning">Página não encontrada.</div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
